<h1>
  {{titulo}}
</h1>
<form #contatoForm="ngForm">
  <div>
    <label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome" [(ngModel)]="contato.nome"/>
  </div>
  <div>
    <label for="empresa">Empresa: </label>
    <input type="text" id="empresa" name="empresa" [(ngModel)]="contato.empresa"/>
  </div>
  <div>
    <label for="telefone">Telefone: </label>
    <input type="text" id="telefone" name="telefone" [(ngModel)]="contato.telefone"/>
  </div>
</form>
<div>
  {{contato | json}}
</div>